<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project_1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_nokdu_kong2"
        android:label="콩비비"
        android:roundIcon="@mipmap/ic_launcher_nokdu_kong2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChatActivity" />
        <activity android:name=".BuyListActivity" />
        <activity android:name=".ShareListActivity" />
        <activity android:name=".WriteActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SharePopUpActivity"

            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name=".BuyPopUpActivity"

            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity android:name=".LogInActivity">
            android:theme="@style/Theme.AppCompat.Dialog">
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".VerifyPhoneNumActivity"/>
    </application>

</manifest>